.block-widee{
    margin:auto;
}
.block-centerr{
    max-width: 1000px;
    margin:0 auto;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }